<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"><style>
img {
 top-margin: 10px; 
border-radius: 0 10% 0% 10%;
box-shadow:0 8px 16px 0 rgba(0, 0, 0, 1.2);
}
.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1.2);
  max-width: 280px;
  margin: auto;
  max-height:500px;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 15px;
  padding: 5px
}

button {
  border: 0px ;
  outline: 0px ;
  padding: 15px;
  color: white;
  background-color: #33353d;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 25px;
  box-shadow:0 8px 10px 0 rgba(0, 0, 0, 1.2);

}
a {
  text-decoration: none;
  font-size: 18px;
  color: dark-blue;
}
button:hover, a:hover {
  opacity: 0.8;
}
</style>
<div class="card">
  <img src="https://images.discordapp.net/avatars/512212602613399552/c7c2be5fc1dd6d5ca24c3f0d549b1c7b.png?size=512" alt="lutu" style="width:70%">
  <h1>Discord Tip</h1>
  <p class="title">Moderation & Auto-mod bot and a bit longer description here with random text</p>
  <div style="margin: 10px 0;">
    <span href="#" class="label label-default">grey</span>
    <span href="#" class="label label-primary">blue</span>
    <span href="#" class="label label-success">green</span>
    <span href="#" class="label label-info">also blue</span>
    <span href="#" class="label label-warning">yellow</span>
    <span href="#" class="label label-danger">red</span>
   </div>
  <div>
  <span style="display: inline;">
      <button onclick="window.location.href = 'https://google.com';">View
      <button onclick="window.location.href = 'https://google.com';">Vote
  </div>