 <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
<section id="counter">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="counting wow fadeInDownQuick" data-wow-delay=".5s">
                <div class="icon">
                  <span>
                    <i class="lnr lnr-cog"></i>
                  </span>
                </div>
                <div class="desc">
                  <h3 class="counter">2190</h3>
                  <p>Registred Bots</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="counting wow fadeInDownQuick" data-wow-delay="1s">
                <div class="icon">
                  <span>
                    <i class="lnr lnr-license"></i>
                  </span>
                </div>
                <div class="desc">
                  <h3 class="counter">350</h3>
                  <p>Certified Bots</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="counting wow fadeInDownQuick" data-wow-delay="1.5s">
                    <div class="icon">
                       <span>
                       <i class="lnr lnr-users"></i>
                    </span>
                </div>
                <div class="desc">
                  <h3 class="counter">23453</h3>
                  <p>Reguler Members</p>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="counting wow fadeInDownQuick" data-wow-delay="2s">
                <div class="icon">
                  <span>
                    <i class="lnr lnr-star"></i>
                  </span>
                </div>
                <div class="desc">
                  <h3 class="counter">56402</h3>
                  <p>Votes</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 
      <!--just some space bruh     delete this-->
     <br /><br /><br /><br /><br />
      <!--just some space bruh     delete this-->