<link rel="stylesheet" href="/public/css/dashboard.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">DiscordHouse.org is a bots and developers platform. You can upload your bot to the website, adding details and descriptions about it which can result in people adding your bot to their server. There is also features where you can make a long customized description with custom HTML and CSS code to make it look as you like. Customize your page, advance your bot to the front page by purchasing a featured section. Become popular today, and have your bot added to Discord Bot House right away.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                      <li><a href="/contact">Contact Us</a></li>
                      <li><a href="/terms">Terms of Service</a></li>
                      <li><a href="/privacy">Privacy Policy</a></li>
                      <li><a href="/license">Website License</a></li>
                    </ul>
            </div>

            <div class="col-xs-6 col-md-3">

              <h6>Contact</h6>
              <ul class="footer-links">
                    <li><a href="/discord">By Discord</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">&copy; Copyright 2019 - Discord House, All right reserved.
              </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><span style="bottom: -8px; position: relative;">Protected by</span> <img src="/public/img/cf-logo-h-rgb.png" height="5%" width="50%"></li>
                <!-- <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li> -->
                <!-- <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="patreon" href="#"><i class="fab fa-patreon"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="discord" href="/discord"><i class="fab fa-discord"></i></a></li> -->
              </ul>
            </div>
          </div>
        </div>
  </footer>
</div>
</body>
</html>
