<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/public/css/dashboard.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">DisocrHouse.org <i>Bots and servers and idk what </i> This is just some random text Ten the hastened steepest feelings pleasant few surprise property. An brother he do colonel against minutes uncivil. Can how elinor warmly mrs basket marked. Led raising expense yet demesne weather musical. Me mr what park next busy ever. Elinor her his secure far twenty eat object. Late any far saw size want man. Which way you wrong add shall one. As guest right of he scale these. Horses nearer oh elinor of denote. BRUH</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Contact Us</a></li>
                      <li><a href="#">Contribute</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Sitemap</a></li>
                    </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
             
              <h6>Contact</h6>
              <ul class="footer-links">
                    <li>Blah@blah.com</a></li>
                    <li>+00116621321</a></li>
                    <li>support@discordhouse.com</a></li>
                    <li></a></li>
                    <h6>Search</h6>
                   <!-- The form -->
        <form class="example" action="#">
        <input type="text" placeholder="MrAugu Gay" name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
        </form>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
           <a href="#">Discord Bots House</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="patreon" href="#"><i class="fab fa-patreon"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="discord" href="#"><i class="fab fa-discord"></i></a></li> 
              </ul>
            </div>
          </div>
        </div>
  </footer>
<hr>
</div>
</body>
</html>