<section id="intro" class="section-intro">
    <div class="overlay">
        <div class="container">
        <div class="main-text">
          <h1 class="intro-title">Welcome To <span style="color: #3498DB">Discord Bot House</span></h1>
          <p class="sub-title">Where you find discord bot idk what the fuck to write here lmao</p>
        </div>
      </div>
    </div>
  </section>