@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body{
    background: #f2f2f2;
    font-family: 'Poppins', arial-black!important;
    background-image: url(https://cdn.discordapp.com/attachments/558283306500751371/568944922304970753/Yk5mBUSsvyAAAAAElFTkSuQmCC.png);
    background-repeat: repeat;
    background-size: 150px;
  }
  .bg-primary {
    background-color: #2b828e!important;
}
/* ==========================================================================
   Footer Style its beautiful but as you see 166 line of css lmfao but who cares
   ========================================================================== */
   .site-footer
   {
     background-color:#2b828e;
     padding:45px 0 20px;
     font-size:15px;
     line-height:24px;
     color:#fff;
   }
   .site-footer hr
   {
     border-top-color:#bbb;
     opacity:0.5
   }
   .site-footer hr.small
   {
     margin:20px 0
   }
   .site-footer h6
   {
     color:#fff;
     font-size:16px;
     text-transform:uppercase;
     margin-top:5px;
     letter-spacing:2px
   }
   .site-footer a
   {
     color:#ffffff;
   }
   .site-footer a:hover
   {
     color:#3366cc;
     text-decoration:none;
   }
   .footer-links
   {
     padding-left:0;
     list-style:none
   }
   .footer-links li
   {
     display:block
   }
   .footer-links a
   {
     color:#ebebeb
   }
   .footer {
    position: relative;
    bottom: 0px;
    width: 100%;
   }
   .footer-links a:active,.footer-links a:focus,.footer-links a:hover
   {
     color:#3366cc;
     text-decoration:none;
   }
   .footer-links.inline li
   {
     display:inline-block
   }
   .site-footer .social-icons
   {
     text-align:right
   }
   .site-footer .social-icons a
   {
     width:40px;
     height:40px;
     line-height:40px;
     margin-left:6px;
     margin-right:0;
     border-radius:100%;
     background-color:#154147
   }
   .copyright-text
   {
     margin:0
   }
   /* @media (max-width:991px)
   {
     .site-footer [class^=col-]
     {
       margin-bottom:30px
     }
   } */
   @media (max-width:767px)
   {
     .site-footer
     {
       padding-bottom:0
     }
     .site-footer .copyright-text,.site-footer .social-icons
     {
       text-align:center
     }
   }
   .social-icons
   {
     padding-left:0;
     margin-bottom:0;
     list-style:none
   }
   .social-icons li
   {
     display:inline-block;
     margin-bottom:4px
   }
   .social-icons li.title
   {
     margin-right:15px;
     text-transform:uppercase;
     color:#96a2b2;
     font-weight:700;
     font-size:13px
   }
   .social-icons a{
     background-color:#eceeef;
     color:#818a91;
     font-size:16px;
     display:inline-block;
     line-height:44px;
     width:44px;
     height:44px;
     text-align:center;
     margin-right:8px;
     border-radius:100%;
     -webkit-transition:all .2s linear;
     -o-transition:all .2s linear;
     transition:all .2s linear
   }
   .social-icons a:active,.social-icons a:focus,.social-icons a:hover
   {
     color:#fff;
     background-color:#29aafe
   }
   .social-icons.size-sm a
   {
     line-height:34px;
     height:34px;
     width:34px;
     font-size:14px
   }
   .social-icons a.facebook:hover
   {
     background-color:#3b5998
   }
   .social-icons a.twitter:hover
   {
     background-color:#00aced
   }
   .social-icons a.linkedin:hover
   {
     background-color:#007bb6
   }
   .social-icons a.patreon:hover
   {
     background-color:#ea4c89
   }
   @media (max-width:767px)
   {
     .social-icons li.title
     {
       display:block;
       margin-right:0;
       font-weight:600
     }
   }
/*====================================================
      intro section style BRUH
 ====================================================*/
    .section-intro {
        color: #fff;
        text-align: center;
      }
      .section-intro .main-text {
        margin: 40px 0px 0px;
        text-transform: uppercase;
      }
      .section-intro .main-text .intro-title {
        font-size: 50px;
        font-weight: 200;
        color: #fff;
        white-space: nowrap;
        line-height: 50px;
      }
      .section-intro .main-text .sub-title {
        font-size: 14px;
        color: #fff;
        padding: 15px 0;
        line-height: 24px;
        text-transform: capitalize;
        margin-bottom: 5px;
      }
/*====================================================
      That header seaech bar style BRUH
 ====================================================*/

/* ==========================================================================
    Counter Style
    ========================================================================== */
    #counter {
        background: url("../img/bg/counter-bg.jpg") center center no-repeat;
        background-size: cover;
        color: #fff;
        padding: 10px 0;
        text-align: center;
      }
      .counting .icon {
        margin-bottom: 10px;
      }
      .counting .icon span {
        display: inline-block;
        border: 3px solid #fff;
        text-align: center;
        width: 80px;
        background: #444;
        height: 80px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
      }
      .counting .icon span i {
        color: #fff;
        display: inline-block;
        font-size: 30px;
        line-height: 80px;
        z-index: 99;
        text-shadow: 5px 5px 2px rgba(56, 49, 49, 0.5);
      }
      .counting .desc h3 {
        font-size: 24px;
        color: #fff;
      }
      .counting .desc p {
        font-size: 16px;
      }
      .counting:hover span {
        background: #3498db;
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
      }

/* Online, Idle, DND, Offline Statuses */
.online {
  color: #42b581;
  border-color: #69c49a;
}

.idle {
  color: #faa61a;
  border-color: #fbb848;
}

.dnd {
  color: #f04747;
  border-color: #f36c6c;
}

.offline {
  color: #747f8d;
  border-color: #9099a4;
}

.bg-primary {
        background-color: #2b828e!important;
    }
.devloper {
	cursor: pointer;
}
.bot-name h2{
  color:white;
	margin-top:10px;
	font-size:22px;
	font-weight: bold;
	letter-spacing: 2px;
}
.information-button{
	margin-bottom:5px;
}


.search-form {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 60px;
  width: 80vw!important;
  height: 50px;
  border-radius: 40px;
  box-shadow: 10px 10px 16px rgb(0, 0, 0);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
}
.search-input {
  position: absolute;
  top: 15px;
  left: 38px;
  font-size: 20px;
  background: none;
  color: #000000;
  width:  70vw;
  height: 20px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

.search-button {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.search-button svg {
  width: 20px;
  height: 20px;
  fill: #2B828E;
}
.hero-bkg-animated {
  background: #fff url(https://cdn.discordapp.com/attachments/558283306500751371/568944922304970753/Yk5mBUSsvyAAAAAElFTkSuQmCC.png) repeat 0 0;
  background-size: 150px;
  width: 100%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
}

 @-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

h1.largetitleorwhatever {
  color: #fff;
  letter-spacing: 0.1em;
  font-size: 50px;
}
.bot-card-img-top {
margin-top: 0px;
border-radius: 0 10% 0% 10%;
box-shadow:0 8px 16px 0 rgba(0, 0, 0, 1.2);
height: 150px;
width: 150px;
align: left;
}

h3 {
font-size: 15px;
padding: 0px
}
.card-title {
font-size: 23px;
}
.card-text {
color: rgb(196, 196, 196);
font-size: 15px;
padding: 10px 10px 10px 10px
}

.bot-button {
border: 0px ;
outline: 0px ;
padding: 10px;
color: white;
background-color: #113438;
text-align: center;
cursor: pointer;
width: 50%;
font-size: 25px;
box-shadow:0 8px 10px 0 rgba(0, 0, 0, 1.2);

}

.top-part{
height: 160px;
}

.btn {
padding:5px;
margin-top: 30px
}

.bot-button:hover, .bot-a:hover {
opacity: 0.8;
}

.tag {
padding: 1px 2px 15px;
font-size: 18px;
}

.status {
box-sizing: border-box;
border-width: 2px;
border-radius: 50%;
height: 15px;
width: 15px;
float: left;
vertical-align: middle;
margin: 5px;
}
/*bakcground loop*/
.main-bkg {
  background-image: url(https://cdn.discordapp.com/attachments/558283306500751371/568945766337478656/3gh5C4OddWAAAAAElFTkSuQmCC.png);
/*  -webkit-animation: slide 20s linear infinite;*/
}
@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

html *{
    -webkit-font-smoothing: antialiased;
}
.profile-card-stats {
  height: 75px;
  padding: 10px 0px;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
}
.profile-stat {
  height: 100%;
  width: 33.3333%;
}
.profile-stat:after {
  color: #ffffff;
}
.bots::after {
  content: "Bots";
}
.likes::after {
  content: "Karma";
}
.rank::after {
  content: "Rank";
}
.rela-block {
  display: block;
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.rela-inline {
  display: inline-block;
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.floated {
  display: inline-block;
  position: relative;
  margin: false;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  float: left;
}
.floated.right {
  float: right;
}
.name h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-page .page-header {
    height: 380px;
  /*  background-position:center;*/
}

.page-header {
    height: 100vh;
  /*  background-size: cover;*/
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

.main-raised {
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,), 0 6px 30px 5px rgba(0,0,0), 0 8px 10px -5px rgba(0,0,0);
    margin: -60px 7vw 30px 7vw
/*  margin: -10% 20% 10% 20%*/

}

.main {
    background: #194e55;
    position: relative;
    z-index: 3;
}

.profile-page .profile {
    text-align: center;
}

.profile-page .profile img {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgb(24, 24, 24), 0 8px 10px -5px rgba(0,0,0);
    background-color: #212529;
}

.rounded-circle {
    border-radius: 50%!important;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}

.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #fff;
    font-weight: 700;
    /* font-family: "Roboto Slab","Times New Roman",serif; */
}

.profile-page .description {
    margin: 1.071rem auto 0;
    max-width: 600px;
    color: #ffffcc;
    font-weight: 300;
    padding: 0px 0px 10px
}

p {
    font-size: 14px;
    margin: 0 0 10px;
}

.profile-page .profile-tabs {
    margin-top: 4.284rem;
}
#myModal {
  height:500px;
  top: 50%;
  transform: translateY(-50%);
}
.tab-content>.active {
    display: block;
}

.main-shit-bkg {
  -webkit-animation: slide 20s linear infinite;
}
@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}
.main-bkg-a {
  background-image: url(https://cdn.discordapp.com/attachments/558283306500751371/568945766337478656/3gh5C4OddWAAAAAElFTkSuQmCC.png);
  -webkit-animation: slide 60s linear infinite;
}


.page-header {background:#ccc;margin:0;}

.profile-head { width:100%;background-color: #205f68;float: left;padding: 15px 5px;border-radius: 30px;}
.profile-head img { height:180px; width:180px; margin:0 auto; border:5px solid #fff; border-radius:5px;}
.profile-head h5 {width: 100%;padding:5px 5px 0px 5px;text-align:justify;font-weight: bold;color: #fff;font-size: 25px;text-transform:capitalize;
margin-bottom: 0;}
.profile-head p {width: 100%;text-align: justify;padding:0px 5px 5px 5px;color: #fff;font-size:17px;text-transform:capitalize;margin:0;}
.profile-head a {width: 100%;text-align: center;padding: 10px 5px;color: #fff;font-size: 15px;text-transform: capitalize;}

.profile-head ul { list-style:none;padding: 0;}
.profile-head ul li { display:block; color:#ffffff;padding:5px;font-weight: 400;font-size: 15px;}
.profile-head ul li:hover span { color: #7fb4bb;}
.profile-head ul li span { color:#ffffff;padding-right: 10px;}
.profile-head ul li a { color:#ffffff;}
.profile-head h6 {width: 100%;text-align: center;font-weight: 100;color: #fff;font-size: 15px;text-transform: uppercase;margin-bottom: 0;}

.tab-content>.active {margin-top:50px;/*width:100% !important;*/}

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
	padding: 10px;
	border-radius: 30px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #154147;
  border: 0;
  border-top: 1px solid #154147;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.menu_title {
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    margin: 0 5px;
}

.stats {
  text-align:center;
  margin-top:25px;

}
.stats li{
  width:125px;
}
.stats span{
  /* font-family:Helvetica; */
  font-weight:bold;
  text-shadow:1px 1px 0px #144147;
  font-size:4em;

  display:block;
  line-height:1em;
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .profile img{
    width:75px;
  }
  .profile h2{
    font-size:1.7em;
  }
  .stats span{
    font-size: 2em;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
}




.fa {
  padding: 5px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.9;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.fa-github {
  background: white;
  color: black;
}

.fa-globe {
  background: #00aff0;
  color: white;
}
.fa-reddit {
  background: #ff5700;
  color: white;
}


.tableHeader {
  background-color: #2b828e;
  font-size: 40px;
  color:white;
  /* font-family: "Courier New", Times, serif; */
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
  text-shadow: 1px 1px 1px black;
  box-shadow: 5px 5px 10px black;
  border-radius: 0px;
 /* border-top-right-radius: 10px;*/
}

table {
  width: 100%;
  margin-bottom: 0px !important;
}

th, td {
  padding: 4px;
}

.dev {
  background-color: white;
  padding: 5px;
  box-shadow: 5px 5px 15px black;

}

.name .profileImg {
  width: 40px;
  border-radius: 50%;
}

.number {
  text-align: center;
  font-size: 15px;
}
