<%- include("blocks/header.ejs", { bot, user, path, title: "404 Not Found"}) %>
<br><br><br><br><br>
<div class="text-center" style="color: #fff">
<h1 style="font-size: 1200%;">404</h1>
<p style="font-size: 200%;">The page that you're trying to acces was not found.</p>
</div>
<br><br><br><br><br>
<%- include("blocks/footer.ejs") %>
