<%- include('blocks/header', { bot, user, title: "Home" }) %>
<section id="intro" class="section-intro">
        <div class="container">
        <div class="main-text">
          <h2 class="intro-title">Add your bot To <span style="color: #3498DB">Discord Bot House</span></h2>
        </div>
      </div>
    
  </section>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Add New Bot</title>

</head>
<body id="main_body" >
		<div id="form_container">
		<h1><a>New Bot Form</a></h1>
		<form id="form_56951" class="appnitro"  method="post" action="">
					<div class="form_description">
			<p>Please fill in this form to send your bot for approval.</p>
		</div>						
			<ul >
			
					<li id="li_1" >
		<label class="description" for="element_1">Client ID* </label>
		<div>
			<input id="element_1" name="element_1" class="element text medium" type="text" maxlength="18" placeholder="451234567891234567" value="" required/> 
		</div><p class="guidelines" id="guide_1"><small>You can find it here https://discordapp.com/developers/applications/me</small></p> 
		</li>		<li id="li_10" >
		<label class="description" for="element_10">Library* </label>
		<div>
		<select class="custom-select" style="width:200px;" id="element_10" name="element_10"> 
			<option value="" selected="selected"></option>
<option value="1" >Discord.js</option>
<option value="2" >Discord.py</option>
<option value="3" >Nyxx</option>
<option value="4" >discordcr</option>
<option value="5" >Discordia</option>
<option value="6" >SwiftDiscord</option>
<option value="7" >Eris</option>
<option value="8" >DSharpPlus</option>
<option value="9" >Disco</option>
<option value="10" >Javacord</option>
<option value="11" >DiscordGo</option>
<option value="12" >Discord.Net</option>
<option value="13" >JDA</option>
<option value="14" >Others</option>

		</select>
		</div><p class="guidelines" id="guide_10"><small>The library the bot is build with</small></p> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Bot's Brefix* </label>
		<div>
			<input id="element_2" name="element_2" class="element text small" type="text" maxlength="20" placeholder="!" value="" required/> 
		</div><p class="guidelines" id="guide_2"><small>The prefix of the bot</small></p> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Short description* </label>
		<div>
        <i class="fas fa-pencil-alt prefix"></i>
			<textarea placeholder="Short description ..." value="" required id="element_3" maxlength="140" name="element_3" class="md-textarea form-control" rows="3"></textarea> 
		</div><p class="guidelines" id="guide_3"><small>A short brief description of your bot 
max 150 characters</small></p> 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Description* </label>
		<div>

		</div><p class="guidelines" id="guide_4"><small>Long Detailed, min 300 characters
HTML allowed</small></p> 
<div class="container69" id="app">
  
    <div class="form-group">
      <p> The fucking script aren't loading so how the fuck to make them load so I will add this part back also the tags selector should work but SCRIPTS shit aren't executing so i just removed these part</p>
    </div>
		</li>		<li class="section_break">
			<h3> 
 </h3>
			<p></p>
		</li>		<li id="li_12" >
		<label class="description" for="element_12">Tags* </label>
		<div>
		<select class="custom-select" style="width:200px;" id="element_12" name="element_12"  > 
			<option value="" selected="selected"></option>
<option value="1" >This</option>
<option value="2" >Shit</option>
<option value="3" >Isn't working</option>

    </select>
    <tags-input class="bootstrap"
                ng-model="movies"
                placeholder="Add a tag"
                replace-spaces-with-dashes="false">
      <auto-complete source="loadMovies($query)"
                     min-length="1"
                     debounce-delay="0"
                     max-results="3"></auto-complete>
    </tags-input>
		</div><p class="guidelines" id="guide_12"><small>Tags that describe your bot, Max 3 tags</small></p> 
		</li>		<li id="li_5" >
		<label class="description" for="element_5">Web Site </label>
		<div>
			<input id="element_5" name="element_5" class="element text medium" type="text" maxlength="200" placeholder="http://www.mybot.com"/> 
		</div><p class="guidelines" id="guide_5"><small>Bot's landing page</small></p> 
		</li>		<li id="li_6" >
		<label class="description" for="element_6">Github repo </label>
		<div>
			<input id="element_6" name="element_6" class="element text medium" type="text" maxlength="255" value="http://"/> 
		</div><p class="guidelines" id="guide_6"><small>Github (or others) repository for the bot</small></p> 
		</li>		<li id="li_9" >
		<label class="description" for="element_9">Server Invite* </label>
		<div>
			<input id="element_9" name="element_9" class="element text medium" type="text" maxlength="25" value="http://discord.gg/" required> 
		</div><p class="guidelines" id="guide_9"><small>Support server invite link</small></p> 
		</li>		<li id="li_7" >
		<label class="description" for="element_7">Other owners ID </label>
		<div>
			<input id="element_7" name="element_7" class="element text large" type="text" maxlength="100" placeholder="562145895412569874,485126359847521145" value=""/> 
		</div><p class="guidelines" id="guide_7"><small>other owners for the bot, separate with ,
max 3</small></p> 
		</li>		<li id="li_8" >
		<label class="description" for="element_8">Invite URL* <a href="https://discordapi.com/permissions.html"target="_blank" >Generate here </a></label>
		<div>
			<input id="element_8" name="element_8" class="element text large" type="text" maxlength="255" value=""required/> 
		</div><p class="guidelines" id="guide_8"><small>bot's Invite URL, Leave it empty if no permissions required</small></p> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="56951" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
	</div>
	</body>
</html>
<style>body
  {
    background:#222222;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:small;
    margin:8px 0 16px;
    text-align:center;
  }
  
  #form_container
  {
    background:#fff;
    
    margin:0 auto;
    text-align:left;
    width:1100px;
  }
  

  
  #footer a{
    color:#999999;
    text-decoration: none;
    border-bottom: 1px dotted #999999;
  }
  

  
  form.appnitro
  {
    margin:20px 20px 0;
    padding:0 0 20px;
  }
  
  /**** Logo Section  *****/
  h1
  {
    background-color:#444444;
    margin:0;
    min-height:0;
    padding:0;
    text-decoration:none;
    text-indent:-8000px;
    
  }
  
  h1 a
  {
    
    display:block;
    height:100%;
    min-height:40px;
    overflow:hidden;
  }
  
  
 
  
  
  /**** Form Section ****/
  .appnitro
  {
    font-family:Lucida Grande, Tahoma, Arial, Verdana, sans-serif;
    font-size:small;
  }
  
  .appnitro li
  {
    width:61%;
  }
  
  form ul
  {
    font-size:100%;
    list-style-type:none;
    margin:0;
    padding:0;
    width:100%;
  }
  
  form li
  {
    display:block;
    margin:0;
    padding:4px 5px 2px 9px;
    position:relative;
  }
  
  form li:after
  {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
  }
  
  .buttons:after
  {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
  }
  
  .buttons
  {
    clear:both;
    display:block;
    margin-top:10px;
  }
  
  * html form li
  {
    height:1%;
  }
  
  * html .buttons
  {
    height:1%;
  }
  
  * html form li div
  {
    display:inline-block;
  }
  
  form li div
  {
    color:#444;
    margin:0 4px 0 0;
    padding:0 0 8px;
  }
  
  form li span
  {
    color:#444;
    float:left;
    margin:0 4px 0 0;
    padding:0 0 8px;
  }
  
  form li div.left
  {
    display:inline;
    float:left;
    width:48%;
  }
  
  form li div.right
  {
    display:inline;
    float:right;
    width:48%;
  }
  
  form li div.left .medium
  {
    width:100%;
  }
  
  form li div.right .medium
  {
    width:100%;
  }
  
  .clear
  {
    clear:both;
  }
  
  form li div label
  {
    clear:both;
    color:#444;
    display:block;
    font-size:9px;
    line-height:9px;
    margin:0;
    padding-top:3px;
  }
  
  form li span label
  {
    clear:both;
    color:#444;
    display:block;
    font-size:9px;
    line-height:9px;
    margin:0;
    padding-top:3px;
  }
  
  form li .datepicker
  {
    cursor:pointer !important;
    float:left;
    height:16px;
    margin:.1em 5px 0 0;
    padding:0;
    width:16px;
  }
  
  .form_description
  {
    border-bottom:1px dotted #ccc;
    clear:both;
    display:inline-block;
    margin:0 0 1em;
  }
  
  .form_description[class]
  {
    display:block;
  }
  
  .form_description h2
  {
    clear:left;
    font-size:250%;
    font-weight:400;
    margin:0 0 3px;
  }
  
  .form_description p
  {
    font-size:150%;
    line-height:130%;
    margin:0 0 12px;
  }
  
  form hr
  {
    display:none;
  }
  
  form li.section_break
  {
    border-top:1px dotted #ccc;
    margin-top:9px;
    padding-bottom:0;
    padding-left:9px;
    padding-top:13px;
    width:97% !important;
  }
  
  form ul li.first
  {
    border-top:none !important;
    margin-top:0 !important;
    padding-top:0 !important;
  }
  
  form .section_break h3
  {
    font-size:110%;
    font-weight:400;
    line-height:130%;
    margin:0 0 2px;
  }
  
  form .section_break p
  {
    font-size:85%;
  
    margin:0 0 10px;
  }
  
  /**** Buttons ****/
  input.button_text
  {
    overflow:visible;
    padding:0 7px;
    width:auto;
  }
  
  .buttons input
  {
    font-size:120%;
    margin-right:5px;
  }
  
  /**** Inputs and Labels ****/
  label.description
  {
    border:none;
    color:#222;
    display:block;
    font-size:95%;
    font-weight:700;
    line-height:150%;
    padding:0 0 1px;
  }
  
  span.symbol
  {
    font-size:115%;
    line-height:130%;
  }/*
 
  * { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */

h2 		 { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }


/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

  
  .custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
  input.currency
  {
    text-align:right;
  }
  
  input.checkbox
  {
    display:block;
    height:13px;
    line-height:1.4em;
    margin:6px 0 0 3px;
    width:13px;
  }
  
  input.radio
  {
    display:block;
    height:13px;
    line-height:1.4em;
    margin:6px 0 0 3px;
    width:13px;
  }
  
  label.choice
  {
    color:#444;
    display:block;
    font-size:100%;
    line-height:1.4em;
    margin:-1.55em 0 0 25px;
    padding:4px 0 5px;
    width:90%;
  }
  /*
  select.select[class]
  {
    margin:0;
    padding:1px 0;
  }
  
  *:first-child+html select.select[class]
  {
    margin:1px 0;
  }
  
  .safari select.select
  {
    font-size:120% !important;
    margin-bottom:1px;
  }*/
  
  input.small
  {
    width:25%;
    font-size: 150%;
    font-weight: 340;
  }
  
  select.small
  {
    width:25%;
  }
  
  input.medium
  {
    width:50%;
  }
  
  select.medium
  {
    width:50%;
  }
  
  input.large
  {
    width:99%;
  }
  
  select.large
  {
    width:100%;
  }
  
  textarea.small
  {
    height:5.5em;
  }
  
  textarea.medium
  {
    height:10em;
  }
  
  textarea.large
  {
    height:20em;
  }
  
  /**** Errors ****/
  #error_message
  {
    background:#fff;
    border:1px dotted red;
    margin-bottom:1em;
    padding-left:0;
    padding-right:0;
    padding-top:4px;
    text-align:center;
    width:99%;
  }
  
  #error_message_title
  {
    color:#DF0000;
    font-size:125%;
    margin:7px 0 5px;
    padding:0;
  }
  
  #error_message_desc
  {
    color:#000;
    font-size:100%;
    margin:0 0 .8em;
  }
  
  #error_message_desc strong
  {
    background-color:#FFDFDF;
    color:red;
    padding:2px 3px;
  }
  
  form li.error
  {
    background-color:#FFDFDF !important;
    border-bottom:1px solid #EACBCC;
    border-right:1px solid #EACBCC;
    margin:3px 0;
  }
  
  form li.error label
  {
    color:#DF0000 !important;
  }
  
  form p.error
  {
    clear:both;
    color:red;
    font-size:10px;
    font-weight:700;
    margin:0 0 5px;
  }
  
  form .required
  {
    color:red;
    float:none;
    font-weight:700;
  }
  
  /**** Guidelines and Error Highlight ****/
  form li.highlighted
  {
    background-color:#fff7c0;
  }
  
  form .guidelines
  {
    background:#f5f5f5;
    border:1px solid #e6e6e6;
    color:#444;
    font-size:80%;
    left:100%;
    line-height:130%;
    margin:0 0 0 8px;
    padding:8px 10px 9px;
    position:absolute;
    top:0;
    visibility:hidden;
    width:42%;
    z-index:1000;
  }
  
  form .guidelines small
  {
    font-size:105%;
  }
  
  form li.highlighted .guidelines
  {
    visibility:visible;
  }
  
  form li:hover .guidelines
  {
    visibility:visible;
  }
  
  .no_guidelines .guidelines
  {
    display:none !important;
  }
  
  .no_guidelines form li
  {
    width:97%;
  }
  
  .no_guidelines li.section
  {
    padding-left:9px;
  }
  
  /*** Success Message ****/
  .form_success 
  {
    clear: both;
    margin: 0;
    padding: 90px 0pt 100px;
    text-align: center
  }
  
  .form_success h2 {
      clear:left;
      font-size:160%;
      font-weight:normal;
      margin:0pt 0pt 3px;
  }
  
  /*** Password ****/
  ul.password{
      margin-top:60px;
      margin-bottom: 60px;
      text-align: center;
  }
  .password h2{
      color:#DF0000;
      font-weight:bold;
      margin:0pt auto 10px;
  }
  
  .password input.text {
     font-size:170% !important;
     width:380px;
     text-align: center;
  }
  .password label{
     display:block;
     font-size:120% !important;
     padding-top:10px;
     font-weight:bold;
  }
  
  #li_captcha{
     padding-left: 5px;
  }
  
  
  #li_captcha span{
    float:none;
  }
  
  /** Embedded Form **/
  
  .embed #form_container{
    border: none;
  }
  
  .embed #top, .embed #bottom, .embed h1{
    display: none;
  }
  
  .embed #form_container{
    width: 100%;
  }
  
  .embed #footer{
    text-align: left;
    padding-left: 10px;
    width: 99%;
  }
  
  .embed #footer.success{
    text-align: center;
  }
  
  .embed form.appnitro
  {
    margin:0px 0px 0;
    
  }
  
  
  
  /*** Calendar **********************/
  div.calendar { position: relative; }
  
  .calendar table {
  cursor:pointer;
  border:1px solid #ccc;
  font-size: 11px;
  color: #000;
  background: #fff;
  font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  }
  
  .calendar .button { 
  text-align: center;    
  padding: 2px;          
  }
  
  .calendar .nav {
  background:#f5f5f5;
  }
  
  .calendar thead .title { 
  font-weight: bold;      
  text-align: center;
  background: #dedede;
  color: #000;
  padding: 2px 0 3px 0;
  }
  
  .calendar thead .headrow { 
  background: #f5f5f5;
  color: #444;
  font-weight:bold;
  }
  
  .calendar thead .daynames { 
  background: #fff;
  color:#333;
  font-weight:bold;
  }
  
  .calendar thead .name { 
  border-bottom: 1px dotted #ccc;
  padding: 2px;
  text-align: center;
  color: #000;
  }
  
  .calendar thead .weekend { 
  color: #666;
  }
  
  .calendar thead .hilite { 
  background-color: #444;
  color: #fff;
  padding: 1px;
  }
  
  .calendar thead .active { 
  background-color: #d12f19;
  color:#fff;
  padding: 2px 0px 0px 2px;
  }
  
  
  .calendar tbody .day { 
  width:1.8em;
  color: #222;
  text-align: right;
  padding: 2px 2px 2px 2px;
  }
  .calendar tbody .day.othermonth {
  font-size: 80%;
  color: #bbb;
  }
  .calendar tbody .day.othermonth.oweekend {
  color: #fbb;
  }
  
  .calendar table .wn {
  padding: 2px 2px 2px 2px;
  border-right: 1px solid #000;
  background: #666;
  }
  
  .calendar tbody .rowhilite td {
  background: #FFF1AF;
  }
  
  .calendar tbody .rowhilite td.wn {
  background: #FFF1AF;
  }
  
  .calendar tbody td.hilite { 
  padding: 1px 1px 1px 1px;
  background:#444 !important;
  color:#fff !important;
  }
  
  .calendar tbody td.active { 
  color:#fff;
  background: #529214 !important;
  padding: 2px 2px 0px 2px;
  }
  
  .calendar tbody td.selected { 
  font-weight: bold;
  border: 1px solid #888;
  padding: 1px 1px 1px 1px;
  background: #f5f5f5 !important;
  color: #222 !important;
  }
  
  .calendar tbody td.weekend { 
  color: #666;
  }
  
  .calendar tbody td.today { 
  font-weight: bold;
  color: #529214;
  background:#D9EFC2;
  }
  
  .calendar tbody .disabled { color: #999; }
  
  .calendar tbody .emptycell { 
  visibility: hidden;
  }
  
  .calendar tbody .emptyrow { 
  display: none;
  }
  
  .calendar tfoot .footrow { 
  text-align: center;
  background: #556;
  color: #fff;
  }
  
  .calendar tfoot .ttip { 
  background: #222;
  color: #fff;
  font-size:10px;
  border-top: 1px solid #dedede;
  padding: 3px;
  }
  
  .calendar tfoot .hilite { 
  background: #aaf;
  border: 1px solid #04f;
  color: #000;
  padding: 1px;
  }
  
  .calendar tfoot .active { 
  background: #77c;
  padding: 2px 0px 0px 2px;
  }
  
  .calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  border: 1px solid #ccc;
  background: #f5f5f5;
  color: #222;
  font-size: 90%;
  z-index: 100;
  }
  
  .calendar .combo .label,
  .calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
  }
  
  .calendar .combo .label-IEfix {
  width: 4em;
  }
  
  .calendar .combo .hilite {
  background: #444;
  color:#fff;
  }
  
  .calendar .combo .active {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background: #dedede;
  font-weight: bold;
  }
 /********************This for the html editor box********************/

.container69 {
  padding: 40px 80px 15px 80px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 800px;
}
.heading {
  text-align: center;
}
.heading h1 {
  background: -webkit-linear-gradient(#fff, #999);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  margin: 0 0 5px 0;
  font-weight: 900;
  font-size: 4rem;
  color: #fff;
}
.heading h4 {
  color: #a990cc;
  text-align: center;
  margin: 0 0 35px 0;
  font-weight: 400;
  font-size: 24px;
}
.btn {
  outline: none !important;
}
.btn.btn-primary {
  background-color: #5c4084;
  border-color: #5c4084;
  outline: none;
}
.btn.btn-primary:hover {
  background-color: #442f62;
  border-color: #442f62;
}
.btn.btn-primary:active, .btn.btn-primary:focus {
  background-color: #684895;
  border-color: #684895;
}
.btn.btn-primary .fa {
  padding-right: 4px;
}
.list-group {
  background-color: #5c4084;
  margin: 15px 0 0 0;
  overflow: hidden;
}
.list-group:after {
  display: none;
}
.list-group .list-group-item {
  background-color: white;
}
.list-group .list-group-item:first-child, .list-group .list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.form-group {
  margin-bottom: 25px;
}
.CodeMirror {
  padding: 8px 0;
  text-align: left;
  position: relative;
  z-index: 999;
  height: auto;
}


 /********************This for the html editor box oof ********************/
 /*OOF I DELETED THIS PART CUZ OF SCRIPTS*/
  </style>
 
<%- include('blocks/footer') %>