<%- include('blocks/header', { bot, user, title: "Home" }) %>

<div class="jumbotron" style="background-color:#26272b; color: #ffffff; margin: 10px;">
  <form method="post">
    <h1 class="text-center">Contact Us</h1><hr>
    <textarea name="message" class="form-control" style="width: 100%; height: 200px;" cols="15" rows="10" placeholder="Type your message in here..." required></textarea><br>
    <button class="btn btn-outline-primary" style="width: 100%;" type="submit">Send Message</button>
  </form>
</div>

<%- include('blocks/footer') %>
