<%- include('blocks/header', { bot, user, title: "Contact" }) %>

<div class="jumbotron main-bkg" style="background-color:#113438; color: #ffffff; margin: 10px;">
  <form method="post">
    <h1 class="text-center">Contact Us</h1><hr>
   <center><textarea name="message" class="form-control main-bkg" style="background-color: #113438; margin: 10px; width: 70%; height: 200px;" cols="15" rows="10" placeholder="Type your message in here..." required></textarea><br>
    <button class="bot-button" style="widt: 70%;" type="submit">Send Message</button></center>
  </form>
</div>

<%- include('blocks/footer') %>
