<%-  include("blocks/header.ejs", { bot, user, title: "License" }) %>

<div class="jumbotron" style="margin: 5%; color: #fff; background-color: #26272b;">
  <h1>License</h1>
  <hr>
  <p>"Discord Bot House" & "Discord House" & "discordhouse.org" & "bots.discordhouse.com" are in no way shape or form affiliated/associated with "Discord" or "DiscordApp" or "discordapp.com"</p>
  <br>
  <p>All credit to the original logo goes to Zayd Boudekkara.</p>
  <br>
  <p>"Discord Bot House" & "discordhouse" (case insensitive) are a trademark of Glitia Eduard. Use of these titles in any shape or form is prohibited unless otherwise approved.</p>
  <br>
  <p>The design and functionality of "discordhouse.org" and all its respective pages are a copyright of Glitia Eduard & Zayd Boudekkara. Reuse and distrubtion of any design or functionality code is strictly PROHIBITED.</p>
  <br>
  <p>Failure to meet the requirements of the license shall be met with action to the highest extent.</p>
</div>

<%- include("blocks/footer.ejs") %>
